[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
matplotlib = "*"
torch = "==1.9.0"
torchvision = "==0.10.0"
torchaudio = "==0.9.0"
gpytorch = "==1.6.0"
scikit-learn = "*"
scanpy = "*"
leidenalg = "*"
wandb = "*"
botorch = "==0.6.1"

[dev-packages]

[requires]
python_version = "3.8"
